
# Ignore all .log files
*.log

# Specific file with extra comment
ansible.log                    # Optional: output log file



# Ignore global Ansible vars
group_vars/all.yml


.env
app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
